table.aukcio_past_table td,
table.aukcio_past_table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table.aukcio_past_table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table.aukcio_past_table tr:hover {
  background-color: #ddd;
}

table.aukcio_past_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #757371;
  color: white;
}
